#ButtCon {
    margin-left: 2rem;
}

#button {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}